trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:

# Start message
- script: echo "Starting Deployment"
  displayName: "Start"

# SSH to EC2 and pull latest code
- task: SSH@0
  inputs:
    sshEndpoint: 'AWS-EC2-Server'   # service connection name
    runOptions: 'commands'
    commands: |
      echo "Connected to EC2"
      cd /var/www/html
      git pull
  displayName: "Deploy to EC2 Server"

# Finish message
- script: echo "Deployment Completed Successfully"
  displayName: "Finish"
