trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
# Install SSH key
- task: InstallSSHKey@0
  inputs:
    knownHostsEntry: ''
    sshPublicKey: '$(publicKey)'
    sshKey: '$(privateKey)'

# Deploy using SSH
- task: SSH@0
  inputs:
    sshEndpoint: 'UAT-Server-SSH'   # your Azure DevOps SSH service connection name
    runOptions: 'commands'
    commands: |
      cd /var/www/html
      git pull
  displayName: 'Deploy to Server'
